<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hatemachine.mortybot.mapper.BotUserMapper">
  <resultMap id="JoinBotUserResult" type="net.hatemachine.mortybot.model.BotUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="bot_user_hostmasks" jdbcType="VARCHAR" property="botUserHostmasks" typeHandler="net.hatemachine.mortybot.custom.handler.StringListHandler" />
    <result column="bot_user_flags" jdbcType="VARCHAR" property="botUserFlags" typeHandler="net.hatemachine.mortybot.custom.handler.BotUserFlagListHandler" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <collection ofType="net.hatemachine.mortybot.model.ManagedChannelUser" property="managedChannelUsers">
      <id column="managed_channel_user_id" jdbcType="INTEGER" property="id" />
      <result column="managed_channel_user_managed_channel_id" jdbcType="INTEGER" property="managedChannelId" />
      <result column="managed_channel_user_bot_user_id" jdbcType="INTEGER" property="botUserId" />
      <result column="managed_channel_user_managed_channel_user_flags" jdbcType="VARCHAR" property="managedChannelUserFlags" typeHandler="net.hatemachine.mortybot.custom.handler.ManagedChannelUserFlagListHandler" />
    </collection>
  </resultMap>
</mapper>