<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hatemachine.mortybot.mapper.ManagedChannelMapper">
  <resultMap id="JoinManagedChannelResult" type="net.hatemachine.mortybot.model.ManagedChannel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="managed_channel_flags" jdbcType="VARCHAR" property="managedChannelFlags" typeHandler="net.hatemachine.mortybot.custom.handler.ManagedChannelFlagListHandler" />
    <result column="bans" jdbcType="VARCHAR" property="bans" typeHandler="net.hatemachine.mortybot.custom.handler.StringListHandler" />
    <result column="modes" jdbcType="VARCHAR" property="modes" />
    <collection ofType="net.hatemachine.mortybot.model.ManagedChannelUser" property="managedChannelUsers">
      <id column="managed_channel_user_id" jdbcType="INTEGER" property="id" />
      <result column="managed_channel_user_managed_channel_id" jdbcType="INTEGER" property="managedChannelId" />
      <result column="managed_channel_user_bot_user_id" jdbcType="INTEGER" property="botUserId" />
      <result column="managed_channel_user_managed_channel_user_flags" jdbcType="VARCHAR" property="managedChannelUserFlags" typeHandler="net.hatemachine.mortybot.custom.handler.ManagedChannelUserFlagListHandler" />
    </collection>
  </resultMap>
</mapper>